.body {
  padding: 0;
  margin: 0;
}

.page {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  padding: 20px;
  flex-direction: column;
}

.home {
  position: absolute;
  top: 0px;
  background-image: linear-gradient(#E9967A, white);
  width: 100%;
  height: auto;
}

.home h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: white;
  font-size: 70px;
  text-shadow: 0px 0px 2px #000000;
}

h2 {
    font-family: 'Lobster', cursive;
}

.footer {
  position: absolute;
  bottom: 0px;
  margin-left: 50%;
}
